@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    --radius: 8px;
    --shadow: 1px 1px 5px 0px rgba(148,140,148,1);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
    font-size: 62.5%; /* 62.5% = 10px = 1rem*/
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
